Package: automy-vision
Section: base
Priority: optional
Depends: vnx-base, automy-math, automy-basic, automy-vehicle
Maintainer: Max Wittal <max.wittal@automyinc.com>
Description: Automy vision package
Architecture: all
